{% extends "base.html" %}
{% load tags %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}

<div class="row justify-content-center">
{% show_category request %}
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Изменить пароль</div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    {{ form.errors }}
                    {{ form.as_p }}

                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            Изменить пароль
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %} 