{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">Зарегистрироваться</div>
                <div class="card-body">


                    <form method="post"
                          action="{% url 'register:registration' %}">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                Зарегистрироваться
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}