{% extends 'base.html' %}
{% load tags %}
{% block content %}


    <div class="container">

        <div class="row">

            {% show_category request %}


            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid"
                         src="{{ product.image.url }}" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <h4>${{ product.price }}</h4>
                        <h6>{{ product.subcategory.name }}: {{ product.brand.name }}</h6>
                        <h6>Цвет: {{ product.color.name }}</h6>
                        <p class="card-text">{{ product.description }}</p>

                        <form action="{% url 'cart:cart_add' product.id %}"
                              method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input type="submit" value="Добавить в корзину">
                        </form>

                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Omnis et enim aperiam inventore, similique
                            necessitatibus neque non! Doloribus, modi sapiente
                            laboriosam aperiam fugiat laborum. Sequi mollitia,
                            necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on
                            3/1/17</small>
                        <hr>

                        <a href="#" class="btn btn-success">Leave a Review</a>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->

{% endblock %}


