{% extends 'base.html' %}
{% load tags %}
{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid"
                         src="{{ product.image.url }}" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <h4>${{ product.price }}</h4>
                        <h6>{{ product.subcategory.name }}: <a
                                href="{{ product.brand.get_absolute_url }}">
                            {{ product.brand.name }}</a>
                        </h6>
                        <h6>Цвет: {{ product.color.name }}</h6>
                        <h6>Наличе: {% if product.availability %}
                            Есть {% else %}Нет

                        {% endif %}в наличии</h6>

                        <p class="card-text">{{ product.description }}</p>

                        <form action="{% url 'cart:cart_add' product.id %}"
                              method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input type="submit" value="Добавить в корзину">
                        </form>

                    </div>
                </div>
                <!-- /.card -->

                {% include 'comments.html' %}
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->

{% endblock %}


