{% extends 'base.html' %}
{% load tags %}

{% block content %}
    <div class="container">
        {% block brand %}

        {% endblock %}

        <div class="row">


            <div class="col-lg-" style="margin-top:56px">

                <div class="row">
                    {% for product in products %}
                        {% include 'products/product.html' %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    {% include 'paginator.html' %}

{% endblock %}